<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/default.min.css">
        <link type="text/css" rel="stylesheet" href="/static/viewstyles.css">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
        <script>
            // code highlighting
            $(document).ready(function() {
                $('pre code').each(function(i, block) {
                    hljs.highlightBlock(block);
                });
            });
            // upvote buttons
            function upvote(type) {
                $.post("/" + type + "/" + window.location.pathname.slice(3), "", function (data, status) {
                    $("#"+type+"button").text(data)
                })
            }
            // redirect
            function createRedirect() {
                window.location = "/c/"
            }
        </script>
        <title>{{.Title}} - GoCode</title>
    </head>
    <body>
        <div class="row rowdiv top">
            <div class="col-md-8 innerdiv">
                <h2>{{.Title}}</h2>
            </div>
            <div class="col-md-4 innerdiv">
                <h2><small>{{.Author}}</small></h2>
            </div>
        </div>
        <div class="row rowdiv">
            <div class="col-md-6 innerdiv">
                <button id="goodbutton" class="btn btn-success point filler" onclick="upvote('good');">{{.GoodPoints}}</button>
            </div>
            <div class="col-md-6 innerdiv">
                <button id="idiombutton" class="btn btn-warning point filler" onclick="upvote('idiom');">{{.IdiomPoints}}</button>
            </div>
        </div>
        <pre class="content pre-scrollable"><code>{{.Content}}</code></pre>
        <div class="row rowdiv">
            <div class="col-md-12 bottomdiv">
                <button id="createbutton" class="btn btn-primary filler" onclick="createRedirect()">Create a snippit!</button>
            </div>
        </div>
    </body>
</html>